* {
  margin: 25;
  padding: 0;
}

.cabeçalho-imagem{
  width: 15%;
  height: 10%;
}

.cabeçalho {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReftq3AnHaswfe3l5FjQiAS_3fiTn6SiXfSQ&s);
  display:flex;
  justify-content: space-around;
  padding: 25px 0;
}

.cabeçalho-lista-item{
  display: inline-block;
margin: 0 16px;
padding: 24px 0;
font-size:  24px;
}